body {
  margin: 0;
  background-image: url(img/Background.png);
}

.wrapper {
  margin: auto;
  width: 90%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

.choice {
  color: #fff;
  font-weight: bold;

  padding: 80px 0 8px 0;
  margin: 0;
}

.description {
  color: #fff;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 60px;
  margin: 0;
}

.levels {
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  width: 150px;
  padding-bottom: 25px;
  margin: 0;
  cursor: pointer;
}

.levels__rhomb {
  background-image: url(img/diamond.png);
  background-repeat: no-repeat;
  background-position-y: 10px;
}

.start {
  padding: 20px 45px;
  background: #D62B2E;
  border-radius: 7px;
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  color: #fff;
  cursor: pointer;
}

.hidden {
  display: none;
}

.cards {
  position: absolute;
  top: 60%;
  right: 10px;
  width: 700px;
}

.cards__first {
  width: 170px;
  height: 250px;
  top: 500px;
  transform: rotate(12deg);
}

.cards__second {
  width: 170px;
  height: 250px;
  top: 200px;
  transform: rotate(40deg);
}

.game {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 160vh;
  width: 100%;
  padding-top: 50px;
  margin: auto auto;
}

.card-template {
  height: 100%;
  width: 100%;
  position: relative;
  cursor: pointer;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.card-facedown,
.card-bug {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.active {
  transition: translateY 1s, transform 1s;
}

.active:hover {
  box-shadow: 15px 15px 15px rgba(0,0,0,0.5);
  transform: translateY(10px) rotate(-3deg);
}

.click-button {
  transform: rotateY(180deg);
} 

.card-bug {
  transform: rotateY(180deg);
}

@media (min-width: 1200px) {
  .wrapper {
    max-width: 1440px;
    height: 1024px;
  }

  .width-small {
    max-width: 800px;
  }
}

@media (min-width: 730px) and (max-width: 1200px) {
  .wrapper {
    min-width: 730px;
    height: 100%;
  }

  .small-card {
    height: 100vh;
  }

  .game {
    height: 160vh;
  }

  .width-small {
    max-width: 800px;
  }

  .cards {
   display: none;
  }

  .choice {
    font-size: 48px;
  }

  .description {
    max-width: 720px;
  }
} 

@media (min-width: 520px) and (max-width: 730px) {
  
  .card-facedown,
  .card-bug {
    width: 150px;
    height: 250px;
  }
  
  .small-card {
    height: 70vh;
  }
  
  .game {
    height: 120vh;
    padding-top: 10px;
    padding-left: 20px;
    margin: auto auto;
  }

  .choice {
    font-size: 35px;
  }

  .description {
    max-width: 500px;
  }

  .cards {
    display: none;
   }

   .levels__item {
    max-width: 250px;
    padding-left: 0;
    font-size: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: color 0.6s;
  }
  
  .start {
    margin-bottom: 50px;
    font-size: 20px;
    padding: 18px 40px;
  }
} 

@media (max-width:520px) {
  .game {
    margin: auto auto;
    height: 85vh;
    padding-top: 10px;
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    /* width: 90%; */
  }
  
  .card-facedown,
  .card-bug {
    width: 100px;
    height: 180px;
  }

  .cards {
    display: none;
   }

  .choice {
    padding-left: 20px;
    padding-right: 10px;
    font-size: 25px;
    max-width: 450px;
  }

  .description {
    padding-left: 20px;
    padding-right: 10px;
    max-width: 450px;
  }

  .levels {
    padding-left: 0;
  }

  .levels__item {
    max-width: 250px;
    padding-left: 45px;
    font-size: 20px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: color 0.6s;
  }
  
  .start {
    margin-bottom: 50px;
    font-size: 15px;
    padding: 15px 40px;
  }
}



